In [254]:
import pandas as pd

In [255]:
import numpy as np

In [256]:
results = pd.read_csv("../PycharmProjects/Predicting-esports-matches/data/results/basic_stats.csv", sep=",", decimal=".")

In [257]:
ranking = pd.read_csv("../PycharmProjects/Predicting-esports-matches/data/TeamRanking.csv")

In [258]:
results.insert(results.shape[1], "iter", 0)

In [259]:
results["iter"] = range(1, len(results) + 1)

In [260]:
common_columns = [results["map"], results["scoreTeamA"], results["scoreTeamB"], results["iter"]]

In [261]:
common_columns = pd.concat(common_columns, axis =1)

In [262]:
results.drop(common_columns,axis=1, inplace=True)

In [263]:
results["iter"] = range(1, len(results) + 1)

In [264]:
results.drop(columns = ["Unnamed: 0"], inplace = True)

In [266]:
results.rename(columns={"teamA":"name"}, inplace =True)

In [267]:
teamA = results.loc[:, ["name", "iter"]]

In [268]:
results.drop(columns={"name"},inplace=True)

In [269]:
results.rename(columns={"teamB":"name"}, inplace =True)

In [270]:
teamB = results.loc[:, ["name", "iter"]]

In [271]:
results_a_with_position = pd.merge(teamA, ranking, on ='name', how ='inner')
results_b_with_position = pd.merge(teamB, ranking, on ='name', how ='inner')

In [274]:
results_b_with_position.drop(columns=["teamID"], inplace=True)

In [275]:
results_a_with_position.drop(columns=["teamID"], inplace=True)

In [276]:
results_a_with_position.rename(columns = {"position": "positionA"}, inplace = True)

In [277]:
results_b_with_position.rename(columns = {"position": "positionB"}, inplace = True)

In [278]:
results_a_with_position.rename(columns = {"name" : "team_A"}, inplace = True)
results_b_with_position.rename(columns = {"name" : "team_B"}, inplace = True)

In [281]:
results = pd.merge(results_a_with_position, results_b_with_position, on="iter", how="outer")

In [282]:
results.dropna(inplace=True)

In [285]:
results = pd.merge(results,common_columns, on="iter", how="inner")

In [286]:
results.drop(columns={"iter"}, inplace=True)

In [287]:
results["positionB"] = results["positionB"].astype(int)
results["positionA"] = results["positionA"].astype(int)

In [293]:
results.insert(0, "team_A", results.pop("team_A"))
results.insert(1, "team_B", results.pop("team_B"))
results.insert(2, "positionA", results.pop("positionA"))
results.insert(3, "positionB", results.pop("positionB"))

In [294]:
results.head(5)

   team_A     team_B  positionA  positionB       map  scoreTeamA  scoreTeamB
0  Cloud9  Outsiders          4         16     Dust2          16           6
1  Cloud9  Outsiders          4         16   Ancient          16          12
2  Cloud9         9z          4         25    Mirage          16          13
3  Cloud9         9z          4         25     Dust2          10          16
4  Cloud9         9z          4         25  Overpass          16          14