In [1781]:
import pandas as pd

In [1782]:
import numpy as np

In [1783]:
results = pd.read_csv("../PycharmProjects/Predicting-esports-matches/data/results/basic_stats.csv", sep=",", decimal=".")

In [1784]:
ranking = pd.read_csv("../PycharmProjects/Predicting-esports-matches/data/TeamRanking.csv")

In [1785]:
results.insert(results.shape[1], "iter", 0)

In [1786]:
results["iter"] = range(1, len(results) + 1)

In [1787]:
common_columns = [results["map"], results["scoreTeamA"], results["scoreTeamB"], results["iter"]]

In [1788]:
common_columns = pd.concat(common_columns, axis =1)

In [1789]:
results.drop(common_columns,axis=1, inplace=True)

In [1790]:
results["iter"] = range(1, len(results) + 1)

In [1791]:
results.drop(columns = ["Unnamed: 0"], inplace = True)

In [1792]:
results.head()

        teamA           teamB  iter
0          YK     Lynn Vision     1
1    Wings Up        Invictus     2
2  TheMongolz         CatEvil     3
3         NSN           ARAVT     4
4    Slovakia  Czech Republic     5

In [1793]:
results.rename(columns={"teamA":"name"}, inplace =True)

In [1794]:
teamA = results.loc[:, ["name", "iter"]]

In [1795]:
results.drop(columns={"name"},inplace=True)

In [1796]:
results.rename(columns={"teamB":"name"}, inplace =True)

In [1797]:
teamB = results.loc[:, ["name", "iter"]]

In [1798]:
results_a_with_position = pd.merge(teamA, ranking, on ='name', how ='inner')
results_b_with_position = pd.merge(teamB, ranking, on ='name', how ='inner')

In [1799]:
results_a_with_position.head()

       name  iter  position  teamID
0       NIP     9         7    4411
1       NIP    10         7    4411
2        G2    11         6    5995
3        G2    12         6    5995
4  00NATION    27        29   11309

In [1800]:
results_b_with_position.head()

              name  iter  position  teamID
0           Heroic     9        10    7175
1           Heroic    10        10    7175
2  Movistar Riders    11        14    7718
3  Movistar Riders    12        14    7718
4  Movistar Riders    85        14    7718

In [1801]:
results_b_with_position.drop(columns=["teamID"], inplace=True)

In [1802]:
results_a_with_position.drop(columns=["teamID"], inplace=True)

In [1803]:
results_a_with_position.rename(columns = {"position": "positionA"}, inplace = True)

In [1804]:
results_b_with_position.rename(columns = {"position": "positionB"}, inplace = True)

In [1805]:
results_a_with_position.rename(columns = {"name" : "team_A"}, inplace = True)
results_b_with_position.rename(columns = {"name" : "team_B"}, inplace = True)

In [1806]:
results_a_with_position.head()

     team_A  iter  positionA
0       NIP     9          7
1       NIP    10          7
2        G2    11          6
3        G2    12          6
4  00NATION    27         29

In [1807]:
results_b_with_position.head()

            team_B  iter  positionB
0           Heroic     9         10
1           Heroic    10         10
2  Movistar Riders    11         14
3  Movistar Riders    12         14
4  Movistar Riders    85         14

In [1808]:
results = pd.merge(results_a_with_position, results_b_with_position, on="iter", how="outer")

In [1809]:
results.dropna(inplace=True)

In [1810]:
results.head()

     team_A  iter  positionA           team_B  positionB
0       NIP     9        7.0           Heroic       10.0
1       NIP    10        7.0           Heroic       10.0
2        G2    11        6.0  Movistar Riders       14.0
3        G2    12        6.0  Movistar Riders       14.0
4  00NATION    27       29.0         Imperial       17.0

In [1811]:
common_columns.head()

        map  scoreTeamA  scoreTeamB  iter
0  Overpass          16          13     1
1      Nuke          16          11     2
2      Nuke          14          16     3
3   Ancient          16           9     4
4    Mirage          17          19     5

In [1812]:
results = pd.merge(results,common_columns, on="iter", how="inner")

In [1813]:
results

,team_A,iter,positionA,team_B,positionB,map,scoreTeamA,scoreTeamB
0,NIP,9,7.0,Heroic,10.0,Ancient,16,13
1,NIP,10,7.0,Heroic,10.0,Inferno,16,13
2,G2,11,6.0,Movistar Riders,14.0,Vertigo,12,16
3,G2,12,6.0,Movistar Riders,14.0,Inferno,9,16
4,00NATION,27,29.0,Imperial,17.0,Ancient,16,12
5,00NATION,28,29.0,Imperial,17.0,Overpass,16,12
6,00NATION,89,29.0,Astralis,12.0,Mirage,16,6
7,00NATION,159,29.0,FURIA,8.0,Ancient,16,11
8,00NATION,160,29.0,FURIA,8.0,Vertigo,16,8
9,MOUZ,91,18.0,paiN,30.0,Nuke,19,16
10,BIG,42,9.0,Astralis,12.0,Nuke,14,16
11,BIG,43,9.0,Astralis,12.0,Dust2,16,13
12,BIG,44,9.0,Astralis,12.0,Overpass,11,16
13,BIG,73,9.0,Outsiders,16.0,Inferno,13,16
14,BIG,74,9.0,Outsiders,16.0,Dust2,13,16
15,Sprout,45,23.0,Vitality,5.0,Vertigo,22,20
16,Sprout,46,23.0,Vitality,5.0,Dust2,11,16
17,Sprout,47,23.0,Vitality,5.0,Overpass,10,16
18,Sprout,78,23.0,paiN,30.0,Ancient,16,10
19,Sprout,79,23.0,paiN,30.0,Dust2,12,16
20,Sprout,80,23.0,paiN,30.0,Vertigo,16,10
21,Sprout,139,23.0,00NATION,29.0,Dust2,16,8
22,Sprout,140,23.0,00NATION,29.0,Overpass,16,4
23,MIBR,85,20.0,Movistar Riders,14.0,Ancient,13,16
24,MIBR,148,20.0,Rare Atom,28.0,Inferno,7,16
25,MIBR,149,20.0,Rare Atom,28.0,Overpass,29,31
26,MIBR,187,20.0,Movistar Riders,14.0,Nuke,3,16
27,Movistar Riders,69,14.0,Vitality,5.0,Vertigo,16,13
28,Movistar Riders,70,14.0,Vitality,5.0,Overpass,16,4
29,Movistar Riders,120,14.0,Sprout,23.0,Inferno,16,5
30,Movistar Riders,121,14.0,Sprout,23.0,Nuke,16,11
31,Spirit,75,11.0,00NATION,29.0,Vertigo,16,5
32,Spirit,76,11.0,00NATION,29.0,Dust2,14,16
33,Spirit,77,11.0,00NATION,29.0,Ancient,16,13
34,Heroic,81,10.0,MOUZ,18.0,Ancient,16,5
35,Heroic,82,10.0,MOUZ,18.0,Inferno,11,16
36,Heroic,83,10.0,MOUZ,18.0,Nuke,16,7
37,Heroic,93,10.0,Sprout,23.0,Overpass,16,3
38,Outsiders,88,16.0,Imperial,17.0,Inferno,16,6
39,Outsiders,111,16.0,Movistar Riders,14.0,Inferno,16,9
40,Outsiders,112,16.0,Movistar Riders,14.0,Overpass,14,16
41,Outsiders,113,16.0,Movistar Riders,14.0,Vertigo,14,16
42,Outsiders,126,16.0,Rare Atom,28.0,Inferno,16,12
43,Outsiders,127,16.0,Rare Atom,28.0,Vertigo,16,14
44,Outsiders,184,16.0,Sprout,23.0,Vertigo,16,8
45,HEET,133,27.0,Bad News Eagles,21.0,Nuke,16,10
46,HEET,134,27.0,Bad News Eagles,21.0,Inferno,16,10
47,FURIA,193,8.0,Sprout,23.0,Inferno,10,16

In [1814]:
results.drop(columns={"iter"}, inplace=True)

In [1815]:
results.insert(0, "team_A", results.pop("team_A"))
results.insert(2, "team_B", results.pop("team_B"))
results.insert(1, "positionA", results.pop("positionA"))
results.insert(3, "positionB", results.pop("positionB"))

In [1816]:
results["positionB"] = results["positionB"].astype(int)

In [1817]:
results

,team_A,positionA,team_B,positionB,map,scoreTeamA,scoreTeamB
0,NIP,7.0,Heroic,10,Ancient,16,13
1,NIP,7.0,Heroic,10,Inferno,16,13
2,G2,6.0,Movistar Riders,14,Vertigo,12,16
3,G2,6.0,Movistar Riders,14,Inferno,9,16
4,00NATION,29.0,Imperial,17,Ancient,16,12
5,00NATION,29.0,Imperial,17,Overpass,16,12
6,00NATION,29.0,Astralis,12,Mirage,16,6
7,00NATION,29.0,FURIA,8,Ancient,16,11
8,00NATION,29.0,FURIA,8,Vertigo,16,8
9,MOUZ,18.0,paiN,30,Nuke,19,16
10,BIG,9.0,Astralis,12,Nuke,14,16
11,BIG,9.0,Astralis,12,Dust2,16,13
12,BIG,9.0,Astralis,12,Overpass,11,16
13,BIG,9.0,Outsiders,16,Inferno,13,16
14,BIG,9.0,Outsiders,16,Dust2,13,16
15,Sprout,23.0,Vitality,5,Vertigo,22,20
16,Sprout,23.0,Vitality,5,Dust2,11,16
17,Sprout,23.0,Vitality,5,Overpass,10,16
18,Sprout,23.0,paiN,30,Ancient,16,10
19,Sprout,23.0,paiN,30,Dust2,12,16
20,Sprout,23.0,paiN,30,Vertigo,16,10
21,Sprout,23.0,00NATION,29,Dust2,16,8
22,Sprout,23.0,00NATION,29,Overpass,16,4
23,MIBR,20.0,Movistar Riders,14,Ancient,13,16
24,MIBR,20.0,Rare Atom,28,Inferno,7,16
25,MIBR,20.0,Rare Atom,28,Overpass,29,31
26,MIBR,20.0,Movistar Riders,14,Nuke,3,16
27,Movistar Riders,14.0,Vitality,5,Vertigo,16,13
28,Movistar Riders,14.0,Vitality,5,Overpass,16,4
29,Movistar Riders,14.0,Sprout,23,Inferno,16,5
30,Movistar Riders,14.0,Sprout,23,Nuke,16,11
31,Spirit,11.0,00NATION,29,Vertigo,16,5
32,Spirit,11.0,00NATION,29,Dust2,14,16
33,Spirit,11.0,00NATION,29,Ancient,16,13
34,Heroic,10.0,MOUZ,18,Ancient,16,5
35,Heroic,10.0,MOUZ,18,Inferno,11,16
36,Heroic,10.0,MOUZ,18,Nuke,16,7
37,Heroic,10.0,Sprout,23,Overpass,16,3
38,Outsiders,16.0,Imperial,17,Inferno,16,6
39,Outsiders,16.0,Movistar Riders,14,Inferno,16,9
40,Outsiders,16.0,Movistar Riders,14,Overpass,14,16
41,Outsiders,16.0,Movistar Riders,14,Vertigo,14,16
42,Outsiders,16.0,Rare Atom,28,Inferno,16,12
43,Outsiders,16.0,Rare Atom,28,Vertigo,16,14
44,Outsiders,16.0,Sprout,23,Vertigo,16,8
45,HEET,27.0,Bad News Eagles,21,Nuke,16,10
46,HEET,27.0,Bad News Eagles,21,Inferno,16,10
47,FURIA,8.0,Sprout,23,Inferno,10,16